﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*Custom Region*/

#bodyRegion #footerRegion {
    margin-top: 1em;
}

#ThemeDropdown {
    width: 180px;
    float: right;
}

#notesRegion {
    margin: 14px 0 0 14px;
}


#ratingRegion {
    position:absolute;
    right:16px;
    margin-right: 15px;
}

.noteText {
    width: 100%;
    height: 6em;
    overflow-y:scroll;
}

#notePartial {
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    border-bottom-style:solid;
    border-width: 1px;
}

#notePartial .row {
    margin-top: 1em;
}

#notePartial .row.overdue {
    color: red;
}

.deleteButtons{
    margin-top:2em;
    margin-bottom:1em;
}

#noNotesFound {
    background-color: lightblue;
    border-radius: 5px;
    border-width: 10px;
    border-color: lightblue;
    border-style: solid;
    color: grey;
    margin-left: -14px;
}

#noNotesSeparator {
    background-color: #e9ecef;
    margin-left: -14px;
}

@media screen and (min-width: 200px) {
    .editButton {
        height: 4em;
        width: 92%;
        padding: 6px 12px;
        vertical-align: middle;
        margin: 0 auto;
    }

    .mainButton {
        width:100%;
        margin-top:0.5em;
    }

}

@media screen and (min-width: 1200px) {
    .editButton {
        float: right;
        height: 8.5em;
        width: 8.5em;
        vertical-align: middle;
        margin: 0 auto;
    }

    .mainButton {
        width: 150px;
    }
}


@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?nj60fe');
    src: url('/fonts/icomoon.eot?nj60fe#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?nj60fe') format('truetype'), url('/fonts/icomoon.woff?nj60fe') format('woff'), url('/fonts/icomoon.svg?nj60fe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
    margin-left:1em;
    content: "\e906";
}

.icon-bin:before {
    margin-left: 1em;
    content: "\e9ac";
}

.fas {
    font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

