﻿@using Microsoft.AspNetCore.Http
@using MyNotesDTOs.Enum
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyNotes</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    @if (HttpContextAccessor.HttpContext.Request.Cookies["theme"] == Enum.GetName(typeof(Theme), Theme.White))
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/white-theme/bootstrap.css" />
    }
    else if (HttpContextAccessor.HttpContext.Request.Cookies["theme"] == Enum.GetName(typeof(Theme), Theme.Dark))
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dark-theme/bootstrap.css" />
    }
    else
    {
        //default theme
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/white-theme/bootstrap.css" />
    }
    <link rel="stylesheet" href="~/css/ratingStar.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Notes" asp-action="Index" class="navbar-brand">My Notes</a>
            </div>
        </div>
    </nav>
    <div id="bodyRegion" class="container body-content">
        @RenderBody()
    </div>
    <div id="footerRegion" class="container body-content">
        <footer>
            <p>&copy; 2018 - Patrick Weibel & Jonas Züger (-:</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
