﻿@model MyNotesDTOs.Note


<div id="notePartial" class="row">
    <div class="col-md-2">
        <div class="row @(Model.IsOverdue ? "overdue" : string.Empty)">
            @Html.DisplayFor(model => model.FinishDate)
        </div>
        <div class="row @(Model.IsOverdue ? "overdue" : string.Empty)">
            @Html.DisplayFor(model => model.DayString)
        </div>
        <div class="row">
            @Html.DisplayFor(model => model.IsFinished)
            @Html.LabelFor(model => model.IsFinished)
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            @Html.DisplayFor(model => model.Title)
            <span id="ratingRegion" class="readonlyRating">
                @for (int i = 1; i <= 5; i++)
                {
                    var maxRange = 6 - i;
                    if (Model.Importance == maxRange)
                    {
                        <input type="radio" disabled class="rating-input"
                               id="rating-input-1-@maxRange" checked="checked" name="rating-input-@Model.Id">
                    }
                    else
                    {
                        <input type="radio" disabled class="rating-input"
                               id="rating-input-1-@maxRange" name="rating-input-@Model.Id">
                    }
                    <label for="rating-input-1-@maxRange" class="rating-star"></label>
                }
            </span>
        </div>
        <div class="row form-control noteText">
            @Html.DisplayFor(model => model.Text)
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="icon-pencil2"></a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="icon-bin"></a>
        </div>
    </div>
</div>