﻿@model MyNotesDTOs.Note

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>@Html.DisplayNameFor(model => model.Title):</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="deleteButtons">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-primary" /> 
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
