﻿@model MyNotesDTOs.Note

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importance" class="control-label"></label>
                <span id="ratingRegion" class="readonlyRating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        var maxRange = 6 - i;
                        if (Model.Importance == maxRange)
                        {
                            <input type="radio" class="rating-input"
                                   id="rating-input-1-@maxRange" checked="checked" name="Importance" value="@maxRange">
                        }
                        else
                        {
                            <input type="radio" class="rating-input"
                                   id="rating-input-1-@maxRange" name="Importance" value="@maxRange">
                        }
                        <label for="rating-input-1-@maxRange" class="rating-star"></label>
                    }
                </span>
                <span asp-validation-for="Importance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFinished" /> @Html.DisplayNameFor(model => model.IsFinished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
