﻿@using MyNotesDTOs.Enum
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model NotesViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Notes")'">Create New</button>
    @Html.DropDownList("ThemeDropdown", new SelectListItem[]
   { new SelectListItem() { Text = "Block White-Style", Value = "0", Selected = HttpContextAccessor.HttpContext.Request.Cookies["theme"] == Enum.GetName(typeof(Theme), Theme.White) },
     new SelectListItem() { Text = "Block Dark-Style", Value = "1", Selected = HttpContextAccessor.HttpContext.Request.Cookies["theme"] == Enum.GetName(typeof(Theme), Theme.Dark) }},
     new { @onchange="changeTheme(this.value)", @class="form-control", @id= "ThemeDropdown" })
</p>
<p>
    @if (Model.SortType == SortType.FinishDate)
    {
        <button class="btn btn-primary mainButton active @(Model.SortDirection == SortDirection.Ascending ? "fas fa-sort-asc" : "fas fa-sort-desc")" onclick="sortByFinishDate()">  By finish Date</button>
    }
    else
    {
        <button class="btn btn-secondary mainButton" onclick="sortByFinishDate()">By finish Date</button>
    }

    @if (Model.SortType == SortType.CreatedDate)
    {
        <button class="btn btn-primary mainButton active @(Model.SortDirection == SortDirection.Ascending ? "fas fa-sort-asc" : "fas fa-sort-desc")" onclick="sortByCreationDate()">  By created Date<i class=""></i></button>
    }
    else
    {
        <button class="btn btn-secondary mainButton" onclick="sortByCreationDate()">By created Date</button>
    }

    @if (Model.SortType == SortType.Importance)
    {
        <button class="btn btn-primary mainButton @(Model.SortDirection == SortDirection.Ascending ? "fas fa-sort-asc" : "fas fa-sort-desc")" onclick="sortByImportance()">  By Importance</button>
    }
    else
    {
        <button class="btn btn-secondary mainButton" onclick="sortByImportance()">By Importance</button>
    }

    <button type="button" class="btn @(Model.ShowFinished ? "btn-primary" : "btn-secondary") mainButton" onclick="showFinished()">Show finished</button>
</p>
<div id="notesRegion">
    @if (Model.NotesInScope.Any())
    {
        @foreach (var item in Model.NotesInScope)
        {
            @await Html.PartialAsync("_NotePartial", item)
        }
    }
    else
    {
        @await Html.PartialAsync("_NoNotesFoundPartial")
    }
</div>
